.top_user_info {
  text-align: right;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  width: 100%;
  background-color: #6777ef;
  height: 70px;
  position: absolute;
  z-index: 2;
}

.contents {
  padding: 20px;
  margin-top: 70px;
  position: absolute;
  /* margin-top: 300px; */
  /* margin-left: 250px; */
  padding-left: 280px;
  /* margin-right: 250px; */

  width: 100%;

  /* max-width: 1650px; */
  /* background-color: aqua; */
}
.common_box {
  color: #495057;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.contents_contents {
  width: 100%;
  /* margin-right: 100px; */
  padding: 10px;
  padding-left: 50px;
  padding-right: 70px;
}
.contents_title {
  float: left;
  padding-left: 250px;
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  /* color: #34395e; */
  color: #fafbfc;
  top: 50%;
  transform: translate(10%, -50%);
}
.top_user_info_div {
  float: right;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 80%;
  transform: translate(0%, -50%);
  margin-right: 50px;
}
.contents_name {
  font-weight: bold;
  margin-bottom: 8px;
  color: #34395e;
  font-size: 12px;
}

.saveButton {
  z-index: 10;
  margin-left: -22%;
}
button {
  height: 40px;
  width: 200px;
  position: relative;
  font-size: 16px;
  padding: 5px 10px;
  top: 80%;
  left: 67%;
  transform: translate(-50%, -50%);
}

img {
  display: inline-block;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.userName {
  display: inline-block;
  vertical-align: middle;
}
.contents_setup {
  padding: 50px;
}
.contents_setup_menubar {
  /* position: absolute; */
  margin-top: 150px;
  text-align: center;
}

.contents_setup_menubar button {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  /* margin: auto; */
  left: 8%;
  /* transform: translate(-50%, 0%); */
  /* position: relative; */
}
.contents_setup_one {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.contents_setup_one * {
  vertical-align: middle;
}
.contents_setup_one input {
  vertical-align: middle;
  width: 16px;
  display: inline-block;
}
select {
  margin-top: 20px;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 50px;
  width: 200px;
  font-size: 16px;
}
.one {
  margin-top: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.one div {
  display: inline-block;
  align-items: center;
  text-align: center;
}

.contents_setup button {
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 14px;
  position: relative;
  left: 0;
  margin-left: 30px;
  top: 14px;
  /* margin-left: -200px; */
}
.contents_setup_title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.group_view {
  padding: 30px;
  margin: 50px;
  margin-top: 10px;
  border-radius: 5px;
  width: auto;
  height: auto;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
}
.group_view_head {
  width: 90%;
  padding: 0px;
}

table th {
  padding: 20px;
  width: 600px;
}
table td {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
}

tr:last-child td {
  padding-bottom: 20px;
}

/* 그룹 view 배경 */
.tr_even {
  /* background-color: rgba(103, 119, 239, 0.2); */
  background-color: rgba(128, 128, 128, 0.2);
}

.tr_odd {
}

.group_view_title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.teamcode_view {
  padding: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  color: #000;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  padding: 20px;
}

.teamcode_view button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* 팀코드 view 배경 */
.teamcode_tr_even {
  /* background-color: rgba(103, 119, 239, 0.2); */
  background-color: rgba(128, 128, 128, 0.2);
}

.teamcode_tr_odd {
}

#training_management a {
  color: #394eea;
  text-decoration: underline;
}

.exam_manage_css:hover {
  text-decoration: underline;
}

/* 훈련 시작 팝업창 */
.training_popup {
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #34395e;
  background-color: #fafbfc;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  width: 500px;
  height: auto;
  position: fixed;
  z-index: 3;
}

.training_popup_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #6777ef;
  color: #fafbfc;
  text-align: center;
  padding: 5px;
}

.training_popup_content {
  margin: 20px;
  margin-bottom: 50px;
  font-size: bold;
  text-align: center;
}
.training_popup_button_div {
  width: auto;
  display: block;
  margin-right: 25%;
}
