* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration-line: none;
  transition: 0.3s;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "Noto Sans KR";
  src: url("/static/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: #34395e;
  text-decoration: none;
}
.top_user_info {
  width: 100%;
}

.top_user_info_div:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: #6777ef;
  box-shadow: 0 2px 6px #acb5f6;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s all;
}

button:hover {
  background-color: #394eea;
  cursor: pointer;
}

input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  width: 100%;
  height: 40px;
  outline-color: #95a0f4;
  transition: 0.3s all;
}

select {
  margin-bottom: 20px;
  padding: 10px 15px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  transition: 0.3s all;
}

select:focus {
  border: 1px solid #acb5f6;
}

select option {
  font-size: 16px;
  background-color: #f0f0f0;
  margin: 50px;
  transition: 0.3s all;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
td,
th,
tr {
  border-collapse: collapse;
  width: auto;
  text-align: center;
}

.left_nav {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  z-index: 3;
  left: 0;
  /* border-right: 1px solid black; */
}

/* .left_nav:hover {
  cursor: pointer;
} */

.nav_contents {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #34395e;
  text-align: center;
}
.nav_title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.nav_contents button {
  display: inline-block;
}

.common_left_menubar:hover {
  cursor: pointer;
  border-radius: 10px;
  color: blue;
  font-weight: bold;
}
.userName {
  transition: 0s;
}
.top_user_info_div:hover .userName {
  text-decoration: underline;
}
.dropdown {
  text-align: center;
  display: none;
}
/* #left_menubar:hover .dropdown {
  cursor: pointer;
  display: block;
} */
.dropdown a {
  float: left;
  margin-left: 5px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  /* text-decoration: line-through; */
}

.common_left_menubar {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #34395e;
  text-align: left;
  margin: 50px;
  margin-top: 70px;
  margin-left: 80px;
}
.common_left_menubar a {
  text-align: left;
}
#left_menubar a {
  font-size: 14px;
}
.common_left_menubar li {
  margin-right: 120px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

a:hover {
  color: blue;
  /* text-decoration: underline; */
}

.tr_add {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: 50px;
  grid-gap: 10px;
  max-width: 1200px;
  width: auto;
  align-items: center;
  place-items: center;
  /* overflow: scroll; */
}
@media screen and (max-width: 1300px) {
  .tr_add {
    max-width: 500px;
  }
}
.exam_common_css {
  /* background-color: lightblue;
  border: 1px solid darkblue; */
  color: blue;
  text-align: center;
  margin: auto;
}

tr {
  margin: 20px;
}

.logout_btn {
  width: auto;
  position: absolute;
  background-color: #6777ef;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ced4da;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  right: 0;
  transition: 0.3s;
  text-align: center;
}
#logout:hover {
  cursor: pointer;
}

#only_css:hover {
  text-decoration: underline;
}

input:focus {
  outline: 1px solid #6777ef;
  font-weight: bold;
}

select:focus {
  outline: 1px solid #6777ef;
  font-weight: bold;
}

.back,
.back_safe {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
body.no-scroll {
  overflow: hidden !important;
}

#dropbox_ic {
  transform: translate(0%, 0%);
}

.user_teamcode_view {
  padding: 5px 15px;
  background-color: #fafbfc;
  color: gray;
}
.user_teamcode_view:hover {
  cursor: default;
}

.user_logout_btn {
  width: 102.672px;
  padding: 5px 15px;
}

.user_logout_btn:hover {
  color: #fafbfc;
  background-color: #394eea;
  cursor: pointer;
}
.common_detail_cover {
  margin: 10px 35px;
  padding: 10px;
  width: 1500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  text-align: center;
}
.common_detail_div_css {
  display: inline-block;
  margin: 10px;
}

.common_detail_div_css {
  display: none;
}

.common_detail_div_css {
  margin-top: 10px;
  margin-left: 40px;
}

.submit_popup_contents {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  /* padding-left: 30px; */
  color: red;
}

.submit_popup_count,
.submit_popup_score,
.submit_popup_deduct,
.submit_popup_hint_deduct {
  text-align: left;
  padding-left: 35%;
}

/* 훈련팀 매트릭스 */
.matrix_mit_tech {
  z-index: 3;
  position: fixed;
  width: auto;
  max-width: 600px;
  height: auto;
  background-color: #fafbfc;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
  text-align: left;
  padding: 30px;
}

.matrix_mit_tech div {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: auto;
  height: auto;
  display: block;
  text-align: left;
}
.matrix_mit_tech .title {
  margin-bottom: 20px;
}
.matrix_mit_tech .contents {
  text-align: justify;
  margin-bottom: 30px;
}
.matrix_mit_tech button {
  display: block;
  position: relative;
  margin: auto;
  padding: 0px;
  /* left: 0;
  top: 0; */
}

.matrix_div {
  display: flex;
  width: 1500px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  text-align: center;
  margin-bottom: 50px;
}

.matrix_div div {
  flex: 1;
  width: 200px;
  /* padding-bottom: 20px; */
  color: #34395e;
  display: inline-block;
  vertical-align: top;
  overflow-wrap: break-word;
  border-right: 1px solid gray;
}

.matrix_div div div {
  border-right: none;
  /* border-bottom: 1px solid gray; */
  width: 100%;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  /* display: block; */
  overflow-wrap: break-word;
}
.matrix_div div .common_matrix_title {
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 50%);
  background-color: #6777ef;
  font-weight: bold;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  height: 40px;
  padding-top: 10px;
  /* margin-bottom: 25px; */
  color: #fafbfc;
  text-align: center;
  display: inline-block;
}

.matrix_title {
  text-align: center;
  font-weight: bold;
  color: #6c757d;
  margin-top: 40px;
  margin-bottom: 20px;
}
.matrix_mit_tech .common_css_title {
  color: gray;
  font-weight: bold;
  margin-bottom: 10px;
}

.matrix_div .common_tactics {
  /* padding-top: 10px; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
.matrix_div .common_tactics_nth {
  /* padding-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

#dropdown_css_a:hover,
#dropdown_css_b:hover {
  color: blue;
  text-decoration: underline;
}

#dropdown_css_a {
}
