* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration-line: none;
  transition: 0.3s;
}
a {
  color: #34395e;
  text-decoration: none;
}
.top_user_info {
  width: 100%;
}

.top_user_info_div:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: #6777ef;
  box-shadow: 0 2px 6px #acb5f6;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s all;
}

button:hover {
  background-color: #394eea;
  cursor: pointer;
}

input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  width: 100%;
  height: 40px;
  outline-color: #95a0f4;
  transition: 0.3s all;
}

select {
  margin-bottom: 20px;
  padding: 10px 15px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  transition: 0.3s all;
}

select:focus {
  border: 1px solid #acb5f6;
}

select option {
  font-size: 16px;
  background-color: #f0f0f0;
  margin: 50px;
  transition: 0.3s all;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
td,
th,
tr {
  border-collapse: collapse;
  width: auto;
  text-align: center;
}

.left_nav {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  z-index: 3;
  left: 0;
  /* border-right: 1px solid black; */
}

/* .left_nav:hover {
  cursor: pointer;
} */

.nav_contents {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #34395e;
  text-align: center;
}
.nav_title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.nav_contents button {
  display: inline-block;
}

.common_left_menubar:hover {
  cursor: pointer;
  border-radius: 10px;
  color: blue;
  font-weight: bold;
}
.userName {
  transition: 0s;
}
.top_user_info_div:hover .userName {
  text-decoration: underline;
}
.dropdown {
  text-align: center;
  display: none;
}
/* #left_menubar:hover .dropdown {
  cursor: pointer;
  display: block;
} */
.dropdown a {
  font-weight: bold;
  /* text-decoration: line-through; */
}

.common_left_menubar {
  font-size: 16px;
  color: #34395e;
  margin: 50px;
}
#left_menubar a {
  font-size: 14px;
}
.common_left_menubar li {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

a:hover {
  color: blue;
  /* text-decoration: underline; */
}

.tr_add {
  display: grid;
  grid-template-columns: repeat(20, 70px);
  /* grid-template-rows: 50px 50px; */
  align-items: center;
  place-items: center;
}

.exam_common_css {
  /* background-color: lightblue;
  border: 1px solid darkblue; */
  color: blue;
  text-align: center;
  margin: auto;
}

tr {
  margin: 20px;
}

.logout_btn {
  width: auto;
  position: absolute;
  background-color: #6777ef;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ced4da;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  right: 0;
  transition: 0.3s;
  text-align: center;
}
#logout:hover {
  cursor: pointer;
}
.logout_btn:hover {
  background-color: #394eea;
  cursor: pointer;
}

#only_css:hover {
  text-decoration: underline;
}

input:focus {
  outline: 1px solid #6777ef;
  font-weight: bold;
}

select:focus {
  outline: 1px solid #6777ef;
  font-weight: bold;
}

.back {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
body.no-scroll {
  overflow: hidden !important;
}

#dropbox_ic {
  transform: translate(0%, 0%);
}

.user_teamcode_view {
  padding: 5px 15px;
  background-color: #fafbfc;
  color: gray;
}

.user_logout_btn {
  width: 102.672px;
  padding: 5px 15px;
}
