* {
  text-align: center;
  margin: auto;
}

input {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  display: block;
}

button {
  margin: 10px;
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: white;
}
p {
  margin-top: 10px;
}
.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.title {
  padding-bottom: 40px;
  color: #666666;
  font-weight: bold;
  border-bottom: 2px solid #6777ef;
  font-size: 24px;
}

.contents_div_div {
  padding-right: 20px;
  width: auto;
  /* border: 1px solid black; */
}

.user_pw2 {
  display: inline-block;
}
.common_pw {
  display: inline-block;
}
.common_text {
  font-weight: bold;
  color: #34395e;
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
}
.title_name {
  font-size: 16px;
  color: #6c757d;
  font-weight: bold;
  margin: 20px;
}
#margin_give {
  margin-right: 10px;
}

/* 메시지 팝업창 */
.common_msg_popup {
  z-index: 3;
  background-color: #fafbfc;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  border-radius: 10px;
  position: fixed;
  width: 500px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.common_msg_popup .common_msg_popup_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  background-color: #6777ef;
  color: #fafbfc;
  height: 10%;
  text-align: center;
  padding: 10px 0px;
}
.common_msg_popup_contents {
  height: 80%;
  padding: 20px;
}
.common_msg_popup div button {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  height: 10%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
}
