* {
  text-align: center;
  margin: auto;
}

input {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  display: block;
}

button {
  margin: 10px;
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  color: white;
}
p {
  margin-top: 10px;
}
.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.title {
  padding-bottom: 40px;
  color: #666666;
  font-weight: bold;
  border-bottom: 2px solid #6777ef;
  font-size: 24px;
}

.contents_div_div {
  padding-right: 20px;
  width: auto;
  /* border: 1px solid black; */
}

.user_pw2 {
  display: inline-block;
}
.common_pw {
  display: inline-block;
}
.common_text {
  font-weight: bold;
  color: #34395e;
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
}
.title_name {
  font-size: 16px;
  color: #6c757d;
  font-weight: bold;
  margin: 20px;
}
#margin_give {
  margin-right: 10px;
}
