* {
  text-align: center;
  margin: auto;
}
a {
  display: inline-block;
  color: #6777ef;
}
.contents {
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  width: 500px;
  height: 500px;
  left: 50%;
  display: flex;
  align-items: center;
}

input {
  border-radius: 5px;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  display: block;
  outline-color: #95a0f4;
}

div {
  display: block;
}

button {
  margin-top: 10px;
  display: block;
}

.btn_login {
  box-shadow: 0 2px 6px #acb5f6;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  background-color: #6777ef;
  border: 0;
  color: white;
}

.btn_login:hover {
  background-color: #394eea;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 30px;
  color: #666666;
  font-size: 24px;
  width: auto;
  border-bottom: 2px solid #6777ef;
}

.input_common {
  font-weight: bold;
  font-size: 12px;
  color: #34395e;
  text-align: left;
}

.contents_div {
  /* border: 1px solid black; */
}

.contents_div_div {
  padding: 10px;
  /* border: 1px solid black; */
}

.login_title {
  font-weight: bold;
  color: #6c757d;
  font-size: 16px;
  line-height: 28px;
  padding-right: 10px;
  margin-bottom: 50px;
  text-align: left;
}
.contents_div_div a {
  font-weight: bold;
  text-decoration: underline;
}
