.top_user_info {
  text-align: right;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  width: 100%;
  background-color: #6777ef;
  height: 70px;
  position: absolute;
  z-index: 2;
}

.nav_contents {
  margin-top: 30px;
  font-size: 14px;
  color: #868e96;
  text-align: center;
}
.common_left_menubar:hover {
  text-decoration: underline;
}
.contents {
  padding: 20px;
  margin-top: 70px;
  position: absolute;
  /* margin-top: 300px; */
  /* margin-left: 250px; */
  padding-left: 280px;
  /* margin-right: 250px; */

  width: 100%;

  /* max-width: 1650px; */
  /* background-color: aqua; */
}
.common_box {
  color: #495057;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.contents_contents {
  margin-top: 140px;
  width: 100%;
  margin-right: 100px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 70px;
}
.contents_title {
  float: left;
  padding-left: 250px;
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  /* color: #34395e; */
  color: #fafbfc;
  top: 50%;
  transform: translate(10%, -50%);
}
.top_user_info_div {
  float: right;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 80%;
  transform: translate(0%, -50%);
  margin-right: 50px;
}
.contents_name {
  font-weight: bold;
  margin-bottom: 8px;
  color: #34395e;
  font-size: 12px;
}

/* .saveButton {
  z-index: 10;
  margin-left: -22%;
} */
/* button {
  height: 40px;
  width: 200px;
  position: absolute;
  font-size: 16px;
  padding: 5px 10px;
  top: 80%;
  left: 67%;
  transform: translate(-50%, -50%);
} */

img {
  display: inline-block;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.userName {
  display: inline-block;
  vertical-align: middle;
}
/* .top_user_info_div {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  margin-right: 50px;
} */
.abs {
  padding: 20px;
  margin-top: 800px;
  position: absolute;
  /* margin-top: 300px; */
  /* margin-left: 250px; */
  padding-left: 280px;
  /* margin-right: 250px; */
  text-align: center;
  width: 100%;

  /* max-width: 1650px; */
  /* background-color: aqua; */
}
.abs button {
  height: 40px;
  width: 100px;
  font-size: 16px;
  /* font-weight: bold; */
  display: inline-block;
  margin-right: 50px;
}

#now_place {
  color: blue;
}
.common_msg_popup {
  z-index: 3;
  background-color: #fafbfc;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 30%);
  border-radius: 10px;
  position: fixed;
  width: 500px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.common_msg_popup .common_msg_popup_title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  background-color: #6777ef;
  color: #fafbfc;
  height: 10%;
  text-align: center;
  padding: 10px 0px;
}
.common_msg_popup_contents {
  height: 80%;
  padding: 20px;
}
.common_msg_popup div button {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  height: 10%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
}
