.left_nav {
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  z-index: 3;
  left: 0;
  border-right: 1px solid black;
}
.top_user_info {
  text-align: right;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  width: 100%;
  background-color: #6777ef;
  height: 70px;
  position: absolute;
  z-index: 2;
}
.nav_title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.nav_contents {
  margin-top: 30px;
  font-size: 14px;
  color: #868e96;
  text-align: center;
}

.contents {
  padding: 20px;
  margin-top: 70px;
  position: absolute;
  /* margin-top: 300px; */
  /* margin-left: 250px; */
  padding-left: 280px;
  /* margin-right: 250px; */

  width: 100%;

  /* max-width: 1650px; */
  /* background-color: aqua; */
}
.common_box {
  color: #495057;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.contents_contents {
  width: 100%;
  /* margin-right: 100px; */
  padding: 10px;
  padding-left: 50px;
  padding-right: 70px;
}
.contents_title {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #34395e;
}
.contents_name {
  font-weight: bold;
  margin-bottom: 8px;
  color: #34395e;
  font-size: 12px;
}

.saveButton {
  z-index: 10;
  margin-left: -22%;
}
button {
  height: 40px;
  width: 200px;
  position: absolute;
  font-size: 16px;
  padding: 5px 10px;
  top: 80%;
  left: 67%;
  transform: translate(-50%, -50%);
}

img {
  display: inline-block;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.userName {
  display: inline-block;
  vertical-align: middle;
}
.top_user_info_div {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  margin-right: 50px;
}
