.top_user_info {
  text-align: right;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  width: 100%;
  background-color: #6777ef;
  height: 70px;
  position: absolute;
  z-index: 2;
}

.contents {
  padding: 20px;
  margin-top: 70px;
  position: absolute;

  padding-left: 280px;

  width: 100%;
}
.common_box {
  color: #495057;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}
.contents_contents {
  width: 100%;
  /* margin-right: 100px; */
  padding: 10px;
  padding-left: 50px;
  padding-right: 70px;
}
.contents_title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #34395e;
}
.contents_name {
  font-weight: bold;
  margin-bottom: 8px;
  color: #34395e;
  font-size: 12px;
}

.saveButton {
  z-index: 10;
  margin-left: -22%;
}
button {
  height: 40px;
  width: 200px;
  position: relative;
  font-size: 16px;
  padding: 5px 10px;
  top: 80%;
}

img {
  display: inline-block;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.userName {
  display: inline-block;
  vertical-align: middle;
}
.top_user_info_div {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  margin-right: 50px;
}
.contents_title_top {
  width: 100%;
  text-align: center;
}
.contents_title_grp_name {
  color: #6c757d;
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
}
.contents_title_top div,
.contents_title_top input {
  display: inline-block;
  width: auto;
}
.contents_title_top button {
  width: auto;
  padding: 0px 10px;
}

.contents_title_top select {
  padding: 10px 15px;
  width: 500px;
  margin-right: 30px;
}

tr td {
  padding: 5px;
}
.exam_answer {
  padding: 20px;
  border-radius: 10px;
  margin-right: 30px;
  /* border: 1px solid gray; */
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.exam_table {
  padding: 20px;
  border-radius: 10px;
  margin-right: 30px;
  /* border: 1px solid gray; */
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 50%);
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
}
.exam_answer input {
  width: auto;
}
.exam_answer_common_text {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}
.exam_answer_common_text div {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}
.test {
  text-align: left;
}
.test * {
  vertical-align: baseline;
}
.answer_input_text {
  padding-left: 60px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #34395e;
  font-weight: bold;
}
.exam_answer_common_text input {
  height: 30px;
  padding: 10px;
  /* margin-left: 30px; */
  margin-right: 30px;
  margin-bottom: 10px;
  width: auto;
}
.exam_answer_common_text_check {
  margin-left: -30px;
  display: inline-block;
}

.common_check {
  vertical-align: -10px;
}
.exam_answer_title {
  text-align: left;
  margin-bottom: 20px;
  color: #34395e;
  font-weight: bold;
}
.exam_answer_name {
  height: 30px;
}
.exam_answer_div {
  padding-left: 50px;
  padding-right: 50px;
}
.exam_answer_div_div {
  padding: 60px;
}
.exam_answer_div_div input {
  width: 100%;
  padding: 10px 15px;
}
.exam_answer_common_text .dandap {
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 10px;
}
.dandap_import_text {
  text-align: left;
  padding-left: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #34395e;
  font-weight: bold;
}
.bottom_div {
  text-align: center;
}
.common_level_div {
  color: #666;
  margin: 20px;
  width: auto;
  display: inline-block;
  text-align: center;
}
.common_level_div input {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.common_level_div p {
  display: inline-block;
}

.common_level_div button {
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
}
.setup_div button {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 100px;
  margin-left: 100px;
}
.test .exam_answer_common_text {
  text-align: left;
  left: 0;
}

#left_call_div {
  /* float: left; */
  display: block;
  /* margin-left: 30px; */
}

.left_input_call {
  margin-left: 13px;
  width: 400px;
  text-align: left;
}

.left_input_call input {
  padding: 10px;
  height: 30px;
  margin-left: 43px;
  margin-bottom: 20px;
  width: 505px;
}
.tr_add tr {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
}

#left_menubar {
  color: #394eea;
  /* text-decoration: underline; */
}
/* 문제 풀이 css 헤더*/
.now_exam_status {
  margin: auto;
  vertical-align: middle;
  padding: auto;
}
.now_exam_status * {
  width: auto;
  margin: auto;
  display: inline-block;
}
.exam_status_score {
  width: auto;
  height: auto;
  margin-left: 330px;
  margin-right: 50px;
}
.exam_status_time {
  margin-left: 10px;
}
.exam_status_vm {
  display: inline-block;
  /* margin-right: 700px; */
  transform: translate(0px, -10px);
  /* float: right; */
}

/* 개별 문항 css*/
.exam_explanation {
  margin-top: 50px;
  margin-left: 20px;
}
.exam_explanation button {
  width: auto;
}
.individual_exam {
  width: 70%;
}
.individual_exam_common {
  width: auto;
  height: auto;
  display: block;
  transform: translate(0%, 50%);
}

/* MITER */
.miter_box {
  font-size: 14px;
  text-align: center;
  position: fixed;
  margin-right: 50px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.miter_box div {
  padding: 10px;
  color: #707070;
  font-weight: 500;
  height: 40px;
}
/* 문제 풀이 css */
.common_exam_contents {
  margin-bottom: 100px;
  margin-left: 5px;
  display: inline-block;
  height: 200px;
  width: 30%;
  text-align: left;
  vertical-align: middle;
}
.common_exam_contents input {
  margin-right: 5px;
  top: 0;
  width: auto;
  height: 100%;
}
.ans_hint_div {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 600px;
}
.ans_hint_div button {
  width: 90px;
  margin-right: 10px;
}
.ans_hint_div p {
  display: inline-block;
  color: rgb(219, 0, 0);
  font-weight: bold;
}
#ans_result_div {
  color: gray;
  position: relative;
  float: right;
  margin-right: 400px;
  /* transform: translate(0%, -50%); */
}
.common_exam_title {
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}
.common_exam_title p {
  margin-top: 5px;
  margin-left: 15px;
}
.ans_hint_div .common_ans_btn {
  margin-right: 100px;
}
/* 객관식 복수정답 input */
.common_exam_contents div .mult_ans_input {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
}
.common_exam_contents div .mult_ans_input:checked {
  background: rgb(0, 117, 255);
  border: none;
}
/* 주관식 css */
.common_short_form {
  display: block;
  height: 30px;
  width: 300px;
  padding: 10px 15px;
}

.common_exam_contents .common_short_form {
  height: 35px;
  width: 500px;
}

.now_exam_status .exam_status_time {
  font-weight: bold;
}
.now_exam_status #demo {
}

.dropdown li:hover {
  text-decoration: underline;
}

#left_menubar {
  color: #34395e;
}
#left_menubar:hover {
  color: blue;
}

#left_nav_exam_explanation a {
  color: blue;
  text-decoration: underline;
}

#left_nav_exam_result:hover {
  text-decoration: underline;
}

/* 정답확인 버튼 클릭 후 보여질 div */
#ans_result_div div {
  display: none;
}

.common_exam_contents div div {
  display: inline-block;
}
.total_count {
  color: #34395e;
  font-weight: bold;
}
.total_score {
  color: blue;
}
.total_fail_score {
  color: rgb(207, 0, 0);
}
.total_hint_deduct {
  color: rgb(207, 0, 0);
}

/* input 체크박스 디자인 */
input[type="checkbox"] {
  display: inline-block;
  border: 3px solid #707070;
}

.miter_box .miter_title {
  font-size: 16px;
  font-weight: bold;
}

.total_score,
.total_fail_score,
.total_hint_deduct {
  margin-left: 10px;
}

#now_position {
  color: blue;
}
