<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- common css -->
  <link rel="stylesheet" href="/css/common.css" />
  <!-- join css -->
  <link rel="stylesheet" href="/css/join.css" />
  <body>
    <div class="contents">
      <div class="contents_div">
        <div class="title">국가기간망 침투대응 훈련</div>
        <div class="title_name">훈련자 계정생성</div>
        <div class="contents_div_div">
          <div class="common_text">아이디</div>
          <input class="user_id" type="text" />
          <div class="common_pw" id="margin_give">
            <div class="common_text">비밀번호</div>
            <input class="user_pw" type="password" />
          </div>
          <div class="common_pw">
            <div class="common_text">비밀번호 재확인</div>
            <input class="user_pw2" type="password" />
          </div>
          <div class="common_text">이름</div>
          <input class="user_name" type="text" />
          <div class="common_text">기관명</div>
          <input class="user_id_agency" type="text" />
          <button onclick="join()">계정생성</button>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <script src="/js/join.js"></script>
</html>
