<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기간망 침투대응훈련</title>
    <!-- <script src="/static/js/jquery-3.6.4.min.js"></script> -->
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <!-- <script src="/static/js/jquery-ui-1.13.2/jquery-ui.min.js"></script> -->
  </head>
  <!-- common css -->
  <link rel="stylesheet" href="/css/common.css" />
  <!-- <link rel="stylesheet" href="/static/css/common.css" /> -->
  <!-- login css -->
  <link rel="stylesheet" href="/css/login.css" />
  <!-- <link rel="stylesheet" href="/static/css/login.css" /> -->
  <body>
    <div class="contents">
      <div class="contents_div">
        <div class="title">국가기간망 침투대응 훈련</div>
        <div class="contents_div_div">
          <div class="content_in">
            <div class="login_title">로그인</div>
            <div class="input_common">아이디 (ID)</div>
            <input class="user_login_id" type="text" value="" />
          </div>
          <div class="content_in">
            <div class="input_common">비밀번호 (Password)</div>
            <input class="user_login_pw" type="password" value="" />
          </div>
          <button class="btn_login" onclick="user_login()">로그인</button>
          <!-- <div id="console-container" style="width: 100%; height: 600px">
            Test
          </div> -->
          <a href="join">계정 생성하기</a>
          <div id="console-container"></div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <!-- <script src="/static/js/common.js"></script> -->
  <!-- <script src="/static/js/common.js"></script> -->
  <script src="/js/common.js"></script>
  <!-- <script src="/static/js/login.js"></script> -->
  <script src="/js/login.js"></script>
  <script>
    $(document).ready(function () {
      // 입력 필드 선택자
      var inputSelector = $(".user_login_id");
      var inputSelector2 = $(".user_login_pw");

      // 엔터키 입력시 실행할 함수
      function onEnterKeyPressed() {
        // TODO: 엔터키 입력시 실행할 작업 수행
        user_login();
      }

      // 입력 필드에서 키 입력 이벤트를 처리
      $(inputSelector).on("keydown", function (event) {
        // 엔터키 입력인 경우 onEnterKeyPressed 함수 실행
        if (event.keyCode == 13) {
          onEnterKeyPressed();
        }
      });
      // 입력 필드에서 키 입력 이벤트를 처리
      $(inputSelector2).on("keydown", function (event) {
        // 엔터키 입력인 경우 onEnterKeyPressed 함수 실행
        if (event.keyCode == 13) {
          onEnterKeyPressed();
        }
      });
    });
    sessionManagement();
  </script>
</html>
