<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- common css -->
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/static/css/common.css" />
  <!-- login css -->
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/static/css/login.css" />
  <body>
    <div class="contents">
      <div class="contents_div">
        <div class="title">국가기간망 침투대응 훈련</div>
        <div class="contents_div_div">
          <div class="content_in">
            <div class="login_title">로그인</div>
            <div class="input_common">아이디 (ID)</div>
            <input class="user_login_id" type="text" value="" />
          </div>
          <div class="content_in">
            <div class="input_common">비밀번호 (Password)</div>
            <input class="user_login_pw" type="password" value="" />
          </div>
          <button class="btn_login" onclick="user_login()">로그인</button>

          <a href="/html/join.html">계정 생성하기</a>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <!-- <script src="/static/js/common.js"></script> -->
  <script src="/js/common.js"></script>
  <!-- <script src="/static/js/login.js"></script> -->
  <script src="/js/login.js"></script>
  <script>
    sessionManagement();
  </script>
</html>
