<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기간망 침투대응훈련</title>
    <script src="/js/jquery-3.6.4.min.js"></script>
    <link
      rel="stylesheet"
      href="/css/fontawesome-free-5.15.4-web/css/all.css"
    />
    <!-- common css -->
    <link rel="stylesheet" href="/css/common.css" />
    <!-- <link rel="stylesheet" href="/static/css/common.css" /> -->
    <!-- group css -->
    <link rel="stylesheet" href="/css/user_group_setting.css" />
    <!-- <link rel="stylesheet" href="/static/css/user_group_setting.css" /> -->
  </head>
  <body>
    <div class="left_nav">
      <div class="nav_title">
        <a href="/">국가기간망<br />침투대응훈련</a>
      </div>
      <div class="nav_contents">
        <div class="common_left_menubar" id="now_place">그룹 설정</div>
        <div class="common_left_menubar">
          <a onclick="training()">문제 풀이</a>
        </div>
        <div class="common_left_menubar">
          <a href="user_exam_statics">훈련 통계</a>
        </div>
      </div>
    </div>
    <div class="top_user_info">
      <div class="contents_title">그룹 설정</div>
      <div class="top_user_info_div" onclick="showLogOutBtn()">
        <img src="/public/images/avatar-1.png" alt="user" />
        <div class="userName">User Name</div>
        <i class="fas fa-caret-down" id="logout"></i>
        <div class="logout_btn">
          <div class="user_teamcode_view"></div>
          <div class="user_logout_btn" onclick="logOut()">로그아웃</div>
        </div>
      </div>
    </div>
    <div class="contents">
      <div class="contents_contents">
        <div class="contents_name">팀(조)</div>
        <select class="team_selectedbox" name="location" id="team">
          위의 팀(조)를 선택하여 팀코드를 배정받으세요
        </select>
        <div class="contents_name">팀 코드</div>
        <div class="common_box" id="team_code"></div>
        <div class="contents_name">차수</div>
        <select name="location_num" id="">
          <option value="1">1차</option>
          <option value="2">2차</option>
        </select>
        <div class="contents_name">기관명</div>
        <div class="common_box" id="agency_name">auto get</div>
        <div class="contents_name">이름</div>
        <div class="common_box" id="user_name">auto get</div>
      </div>
    </div>
    <div class="abs">
      <button class="saveButton" onclick="setupOff()">설정 저장</button>
      <button class="tn_start_btn" onclick="training()">훈련 시작</button>
    </div>
    <!-- 백그라운드 -->
    <div class="back"></div>
    <!-- 메시지 팝업창 -->
    <div class="common_msg_popup">
      <div class="common_msg_popup_title">알림</div>
      <div class="common_msg_popup_contents">해당 그룹은 안댐</div>
      <div><button onclick="popupMsg()">확인</button></div>
    </div>
    <!-- 설정 저장 팝업창 -->
    <div class="setup_save">
      <div class="setup_save_border">알림</div>
      <div class="setup_save_contents">
        훈련이 시작되면 팀(조)를 변경할 수 없습니다.<br /><br />
        변경하시겠습니까?
      </div>
      <div class="setup_save_button_div">
        <button onclick="userGroupSave()">확인</button>
        <button onclick="setupOff()">취소</button>
      </div>
    </div>
  </body>
  <!-- <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script> -->
  <script>
    $(".back").css("display", "none");
    $(".setup_save").css("display", "none");
    $(".common_msg_popup").css("display", "none");
  </script>
  <!-- <script src="/static/js/common.js"></script> -->
  <script src="/js/common.js"></script>
  <!-- <script src="/static/js/user_group_setting.js"></script> -->
  <script src="/js/user_group_setting.js"></script>
</html>
